name: Release
on:
  push:
    branches: [main, release]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v6
        with:
          semantic_version: 25.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
